{% extends "clientes/base.html" %}

{% block title %}
Listagem de cliente
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        Dados do cliente
    </div>
    <div class="card-body">
        <h5 class="card-title">Nome:{{cliente.nome}}</h5>
        <h5 class="card-title">Sexo:{{cliente.sexo}}</h5>
        <h5 class="card-title">Data de Nascimento:{{cliente.data_nacimento}}</h5>
        <h5 class="card-title">Email:{{cliente.email}}</h5>
        <h5 class="card-title">Profissao:{{cliente.profissao}}</h5>
    </div>
    <button>Clique</button>
</div>
{% endblock content %}

